<footer class="d-flex justify-content-center pl-3 pr-3">
  <div class="footer-container">
    <div class="d-flex justify-content-center mt-5 mb-4">
      <img class="" src="./../../../assets/imgs/icon-relogio.svg" alt="">
    </div>

    <p class="paragrafo-direitos">© 2021, Game Tracker Inc. Todos os direitos reservados. Nulla facilisi. Etiam sagittis congue tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse eu velit et ante luctus egestas. Aenean sed nisi tellus. Duis non ornare libero. Quisque suscipit maximus nisi, in gravida felis. Cras ornare mauris ac nisi congue, ut condimentum sem tincidunt. Phasellus semper tellus malesuada turpis gravida cursus. Duis nec eleifend nunc, vitae finibus elit. Aliquam eget diam vitae purus suscipit viverra.</p>

    <div class="informacoes-adicionais-container d-flex mt-4 mb-5">
      <p class="informacoes-adicionais mr-4">Termos de Serviço</p>
      <p class="informacoes-adicionais mr-4">Política de Privacidade</p>
      <p class="informacoes-adicionais mr-4">Trabalhe conosco</p>
      <p class="informacoes-adicionais">Contato</p>
    </div>
  </div>
</footer>
